<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h3>
        <%= Settings.title_point_one %>
      </h3>
      <p id="key_point"><%= Settings.key_point_one %></p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h3>
        <%= Settings.title_point_two %>
      </h3>
      <p id="key_point"><%= Settings.key_point_two %></p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h3>
        <%= Settings.title_point_three %>
      </h3>
      <p id="key_point"><%= Settings.key_point_three %></p>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h3>
        <%= Settings.title_point_four %>
      </h3>
      <p id="key_point"><%= Settings.key_point_four %></p>
    </div>
  </div>
</div>
