<div class="gray_background">
  <ul class="wrapper clearfix" id="other_points">
    <li id="section-1">
      <h4><%= Settings.title_other_one %></h4>
      <p id="other_point"><%= Settings.other_point_one %></p>
    </li>
    <li id="section-2">
      <h4><%= Settings.title_other_two %></h4>
      <p id="other_point"><%= Settings.other_point_two %></p>
    </li>
    <li id="section-3">
      <h4><%= Settings.title_other_three %></h4>
      <p id="other_point"><%= Settings.other_point_three %></p>
    </li>
    <li id="section-4">
      <h4><%= Settings.title_other_four %></h4>
      <p id="other_point"><%= Settings.other_point_four %></p>
    </li>
  </ul>
</div>
