<script>
  // Set to false or delete to disable analytics/tracking:
  TowTruckConfig_enableAnalytics = false;
</script>

<script src="https://towtruck.mozillalabs.com/towtruck.js"></script>

<div class="gray_background">
  <div class="wrapper clearfix">
    <%= render 'preorder/checkout/sidebar' %>

    <div class="main_content">

      <h3>Support</h3>
      <% if Settings.use_collaborate %>
        <button id="start-towtruck" type="button"
         onclick="TowTruck(this); return false"
         data-end-towtruck-html="End TowTruck">
          Talk with us !
        </button>
      <% end %>
      <br />
      <br />
      <p id="sidebar">
        <%=raw Settings.checkout_main %>
        <br />
        <br />
        <% if Settings.use_payment_options %>
          Select a payment option and click below.
        <% else %>
          Thank you !
        <% end %>
      </p>
      <%= form_tag "#", :id => "checkout" do %>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Sponsor open innovation"
                data-amount="6000"></script>
      <% end %>
      <br />
      <br />
    </div>
    <p>Civilization collapsed ?</p>
    <br />
    <% if Settings.use_bitcoin_payment %>
      <a class="coinbase-button" 
        data-code="<%= Rails.configuration.coinbase[:button_id] %>" 
        data-button-style="custom_small" 
        data-button-text="Support with Bitcoin" 
        href="https://coinbase.com/checkouts/<%= Rails.configuration.coinbase[:button_id] %>">Sponsor with Bitcoin</a>
      <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
    <% end %>

    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
      <br /><br /><br />
      <a class="addthis_button_preferred_1"></a>
      <a class="addthis_button_preferred_2"></a>
      <a class="addthis_button_preferred_3"></a>
      <a class="addthis_button_preferred_4"></a>
      <a class="addthis_button_compact"></a>
      <a class="addthis_counter addthis_bubble_style"></a>
    </div>
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-528f6a512d6baa64"></script>
    <!-- AddThis Button END -->
  </div>
</div>
