<div class="gray_background">
  <div class="wrapper clearfix">
    <div class="main_content <%= "payment_options" if Settings.use_payment_options %>">
      <h3>Support</h3>
      <p>
      You can contribute to unide by two means. Join us building Unide on <a
        href=https://github.com/hivetech>Github</a> or sponsor the project
      clicking on the button bellow. Either ways you can subscribe to our
      mailing list at the bottom of the previous page, and we will keep you
      updated.
        <br />
        <br />
        <% if Settings.use_payment_options %>
          Select a payment option and enter your email address below.
        <% else %>
          Mailing list
        <% end %>

      </p>
      <%= form_tag "#", :id => "checkout" do %>
        <%= render 'preorder/payment_options' %>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Sponsor open innovation"
                data-amount="6000"></script>
      <% end %>
    </div>
    <% if Settings.use_bitcoin_payment %>
      <a class="coinbase-button" 
        data-code="<%= Rails.configuration.coinbase[:button_id] %>" 
        data-button-style="custom_small" 
        href="https://coinbase.com/checkouts/<%= Rails.configuration.coinbase[:button_id] %>">Support with Bitcoin</a>
      <script src="https://coinbase.com/assets/button.js" type="text/javascript"></script>
    <% end %>

    <!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style">
      <a class="addthis_button_tweet" tw:via="XavierBruhiere" tw:text="<%= Settings.twitter_template %>"></a>
    </div>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-5214a5fe5dbdc2b4"></script>
    <!-- AddThis Button END -->

    <%= render 'preorder/checkout/sidebar' %>

  </div>
</div>
